body{
	margin: 0 auto;
	/* background-image: url("https://wallpapercave.com/wp/sHxKBnX.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px; */
}
body::after {
	content: "";
	background: url("https://wallpapercave.com/wp/sHxKBnX.jpg");
	background-repeat: no-repeat;
	background-size: 100% 720px;
	opacity: 0.8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}

img {
	background: rgba(197, 208, 218, 1.0);
	border-radius: 10%;
}

.container{
	width: 500px;
	height: 450px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.95);
	margin-top: 160px;
}

.container img{
	width: 150px;
	height: 150px;
	margin-top: -60px;
}

input[type="text"], input[type="password"]{
	margin-top: 10px;
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}

a {
	padding: 5px 15px;
	background-color: rgba(208, 217, 226, 0.95);
	border: black;
	color: black;
}

a:visited {
	padding: 5px 15px;
	background-color: rgba(208, 217, 226, 0.95);
	color: black;
	border: black;
}

a:hover {
	padding: 5px 15px;
	background-color: rgba(208, 217, 226, 0.95);
	color: grey;
	border: black;
}

.btn-login{
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
	margin-bottom: 4%;
}

.btn-insert{
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
	margin-bottom: 4%;
}

.btn-delete {
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
	margin-top: 20%;
	margin-bottom: 4%;
}